<div 
  class="row justify-content-sm-center text-left" 
  style="margin-top:0.75cm; margin-bottom:0.75cm;"
>
  {% if alignment == 0 %}
    {% if project.img %}
      <div class="col-sm-6 mt-3 mt-md-0" style="display: flex; flex-direction: column; justify-content: center;">
      {%
        include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
          class="img-fluid rounded z-depth-1"
        %}
      </div>
    {% endif %}
    {% include my_projects_text.liquid %}

  {% else %}
    {% include my_projects_text.liquid %}
    {% if project.img %}
      <div class="col-sm-6 mt-3 mt-md-0" style="display: flex; flex-direction: column; justify-content: center;">
      {%
        include figure.liquid
        loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
          class="img-fluid rounded z-depth-1"
        %}
      </div>
    {% endif %}
  {% endif %}
</div>
