
<div class="col-sm-6 mt-3 mt-md-0">
  <h2 class="my-project_title">{{ project.title }}</h2>
  <p class="my-description">{{ project.description }}</p>
  {% if project.projectLinks %}
    <div class="my-links-section">
      <span class="label">Links:</span>
      {% for name_url_pair in project.projectLinks %}
        {% assign name = name_url_pair[0] %}
        {% assign url = name_url_pair[1] %}
        {% assign islocal = name_url_pair[2] %}
        {% if islocal %}
          {% assign url = url | relative_url %}
        {% endif %}
        <a class="link" href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ name }}</a>
      {% endfor %}
    </div>
  {% endif %}
</div>
